:root {
    --bg: #161616;
    --bg-light: #1f1f1f;
    --bg-indent: #ffffff09;
    --primary: #083D77;
    --primary-light: #0B4F99;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: white;
}

body{
    background: var(--bg);
}

/* Flexbox layout */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

/* Logo styling */
.logo-link {
    display: inline-block;
}

.logo {
    width: 6rem;
}

/* Navigation links */
.nav-links {
    display: flex;
    gap: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.125rem;
    list-style: none;
    padding: 0;
}

.nav-item {
    display: flex;
    align-items: center;
}

.welcome-text {
    font-weight: bold;
    text-transform: uppercase;
}

/* Links */
.nav-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.nav-link:hover,
.logout-button:hover {
    color: var(--primary-light);
}

/* Logout form styling */
.logout-form {
    display: inline;
}

.logout-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    transition: color 0.3s;
}

/* Create button styling */
.create{
    background-color: var(--primary);
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    position: fixed;
    bottom: 0.7rem;
    right: 0.7rem;
}

/* Card styling */
.card-container {
    width: 90vw;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.board{
    width: 90vw;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 14rem;
    background-color: var(--bg-indent);
    padding: 0.7rem;
    border-radius: 1.4rem;
    margin: 0.7rem;
}

.card img{
    width: 12rem;
    margin: 0.3rem auto;
}

.card h2, p{
    margin: 0.3rem 0;
}
